.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Timeline {
    position: relative;
    left: 100px;
    top: 100px;
    width: 1000px;
    height: 1200px;
    background: #eee;
}

.Canvas {
    width: 102px;
    height: 1200px;
    border-right: solid 4px #ccf;
}

.Canvas-tick {
    position: absolute;
    left: 12px;
    float: left;
}

.Canvas-event-name {
    font-weight: 700;
}

.Canvas-event {
    background-color: #ddd;
    position: absolute;
    float: left;
    width: 200px;
    padding: 0.5em;
}

.Events-container {
    position: relative;
    left: 108px;
}

.arrow {
	width: 120px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.line {
	margin-top: 14px;
	width: 90px;
	background: blue;
	height: 10px;
	float: left;
}

.point {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid blue;
	float: right;
}
