.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Timeline {
    width: 100%;
    height: 100%;
}

.Timeline-container {
    position: relative;
    left: 5%;
    top: 40px;
    width: 90%;
    height: 1200px;
    background: linear-gradient(#000, #000) no-repeat center/2px 100%;
    border: 1px solid #000;
}

.Timeline-step {
	position: fixed;
	bottom: 10px;
	left: 10px;
    border: 1px solid #99f;
    padding: 10px 30px;
    z-index: 1;
    background-color: #99f;
}

.Timeline-tick {
    position: absolute;
    left: 12px;
    float: left;
}

.Timeline-event-name {
    font-weight: 700;
}

.Timeline-event {
    background-color: #ddd;
    position: absolute;
    float: left;
    width: 200px;
    /*background: linear-gradient(#000, #000) no-repeat center/2px 100%;*/
	border: 1px solid black;
    padding: 15px;
}

.Timeline-event:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	/*border-top: 1px solid black;*/
	background: black;
	width: 100%;
	transform: translateY(-50%);
}

.Events-container {
    position: relative;
    left: 108px;
}

.Vector {
	width: 920px;
	position: absolute;
	top: 0px;
	left: 0px;
    /*display: none;*/
}

.Vector-stem {
	margin-top: 4px; /* .point border-top-width + .point border-bottom-width / 2 */
	margin-left: 460px; /* .arrow width / 2 */
    width: 444px; /* .arrow width / 2 - .point border-left-width */
	background: blue;
	height: 2px;
	float: left;
}

.Vector-point {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; /* border-top width */
	border-left: 16px solid blue;
	float: right;
}
