body {
    background-color: darkgray;
}

.timeline {
    /*display: flex;*/
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.timeline-stem {
    position: relative;
    width: 100%;
}

.timeline-stem:before {
    left: 50%;
    margin-left: -2px;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: white;
}

/*
.timeline * {
    box-sizing: border-box;
}
*/

:root {
    --default-timeline-stem: 8px;
}

.event-group {
    display: flex;
    flex-direction: column;
    flex-basis: auto;

    position: relative;
}

.event-group-fork {
    height: 30px;
    width: 100%;
    position: relative;
}

.event-group-fork-line-container {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.event-group-fork-line {
    position: relative;
    margin-left: 50%;
    width: 40px;
    background: white;
    height: 4px;
}

.event-group-branch {
    height: 4px;
    background-color: white;
    margin: 0 auto;
}

.event-group-stem {
    height: 16px;
}

.event-sequence-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
}

.event-sequence {
    flex: 1;
    /*width: 16px;*/
    position: relative;

    display: flex;
}

.event-sequence.tracks-2 {
    width: 104px;
}

.event-sequence:before {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 4px;
    background: var(--line-color);
}

.event-range {
    width: 8px;
    height: 300px;
    border-radius: 8px;
    border: 4px solid white;
    background-color: rgb(33, 150, 243);
    /*
    -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    */
    position: relative;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.event-range-bubble {
    border: 4px solid #336699;
    background-color: #6699cccc;
    border-radius: 15px;
    color: white;
    width: 150px;
    padding: .5em .75em;
    top: 0;
    display: none;
}

.event-range-bubble.left {
    margin-left: -260px;
}

.event-range-bubble.right {
    margin-left: 40px;
}

.event-range-bubble h1 {
    font-size: 0.75em;
    line-height: 1;
}

.event-range-bubble h2 {
    font-size: 0.5em;
    line-height: 1;
}

.event-range-bubble p {
    font-size: 0.25em;
}

.event-instance {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 4px solid white;
    background-color: rgb(33, 150, 243);
    position: relative;
}

.event-range,
.event-instance {
    margin: 1em auto;
}

.event-sequence .event-range,
.event-sequence .event-instance {
    margin: 1em 17px;
}

.event-group-stem:before {
    height: calc(var(--default-timeline-stem) * 2);
    left: calc(100% / 2 - 2px);
}

.event-instance:before {
    left: 2px;
    top: calc((100% * -2) - 4px);
}

.event-range:before,
.event-instance:before {
    height: calc(100% + 40px);
}

.event-group-stem:before,
.event-range:before,
.event-instance:before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 4px;
    background-color: white;
}

.event-range-bubble-arrow {
    border: 7px solid transparent;
    top: 22px;
    content: '';
    position: relative;
    height: 0;
    width: 0;
}

.left .event-range-bubble-arrow {
    left: 166px;
    border-left: 7px solid #336699;
}

.right .event-range-bubble-arrow {
    left: -29px;
    border-right: 7px solid #336699;
}