body {
    background-color: darkgray;
}

.timeline {
    width: 90%;
    position: relative;
    margin: 16px auto 0;
}

.timeline-step {
	position: absolute;
	bottom: 10px;
	left: 10px;
    border: 1px solid #99f;
    padding: 10px 30px;
    z-index: 1;
    background-color: #99f;
}

:root {
    --default-timeline-stem: 8px;
}

.event-group {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    position: relative;
    margin-bottom: 16px;
}

.event-sequence-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: relative;
}

.event-sequence {
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
}

.event-range {
    width: 8px;
    height: 300px;
    border-radius: 8px;
    border: 4px solid white;
    background-color: rgb(33, 150, 243);
    position: relative;
    margin: 0 auto;
}

.event-range-bubble {
    border: 4px solid #336699;
    background-color: #6699cccc;
    border-radius: 15px;
    color: white;
    width: 150px;
    padding: .5em .75em;
    position: absolute;
    z-index: 10000;
}

.event-range-bubble.left {
    left: -219px;
}

.event-range-bubble.right {
    left: 45px;
}

.event-range-bubble h1 {
    font-size: 0.75em;
    line-height: 1;
}

.event-range-bubble h2 {
    font-size: 0.5em;
    line-height: 1;
}

.event-range-bubble p {
    font-size: 0.25em;
}

.event-instance {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 4px solid white;
    background-color: rgb(33, 150, 243);
    position: relative;
}

.event-range,
.event-instance {
    margin: 1em auto;
    display: grid;
    place-items: center;
}

.event-sequence .event-range,
.event-sequence .event-instance {
    margin: 1em 17px;
}

.event-track {
    flex: 1;
    position: relative;
}

.event-range-bubble-arrow {
    border: 7px solid transparent;
    content: '';
    position: absolute;
    height: 0;
    width: 0;
}

.left .event-range-bubble-arrow {
    left: 178px;
    border-left: 7px solid #336699;
    top: calc(50% - 7px);
}

.right .event-range-bubble-arrow {
    left: -16px;
    border-right: 7px solid #336699;
    top: calc(50% - 7px);
}

/* All vertical stems coded here */

.timeline:before {
    top: -16px;
    height: 16px;
}

.event-group:after {
    top: 100%;
    height: 16px;
}

.event-track:before {
    z-index: -1;
    top: 0;
    height: calc(100% + 16px);
    left: calc(50% - 2px);
}

.event-sequence .event-track:before {
    top: 0;
    height: 100%;
}

.event-instance:before {
    left: 2px;
    top: calc((100% * -2) - 4px);
}

.event-range:before,
.event-instance:before {
    height: calc(100% + 40px);
}

.timeline:before,
.event-group:after,
.event-track:before {
    left: calc(50% - 2px);
    content: '';
    position: absolute;
    width: 4px;
    background-color: white;
}

/* Horizontal branch stems for groups */

.event-sequence:before {
    content: '';
    position: absolute;
    top: 0;
    height: 4px;
    background-color: white;
    left: 0;
    width: 100%;
}

.event-sequence:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: white;
    left: 0;
    width: 100%;
}

.event-sequence:first-child:after,
.event-sequence:first-child:before {
    left: calc(50% - 2px);
    width: calc(50% + 2px);
}

.event-sequence:last-child:after,
.event-sequence:last-child:before {
    left: 0;
    width: calc(50% + 2px);
}

/* End horizontal branch stems for groups */

.vector {
	width: 920px;
	position: absolute;
	top: 0px;
	left: 0px;
    /*display: none;*/
}

.vector-stem {
	margin-top: 4px; /* .point border-top-width + .point border-bottom-width / 2 */
	margin-left: 460px; /* .arrow width / 2 */
    width: 444px; /* .arrow width / 2 - .point border-left-width */
	background: blue;
	height: 2px;
	float: left;
}

.vector-point {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; /* border-top width */
	border-left: 16px solid blue;
	float: right;
}